/* Navbar styles */
.navbar {
  background-color: #333; /* Dark background */
  padding: 10px;
  border-bottom: 3px solid orange;
  position: relative; /* Ensure proper positioning for child elements */
}

.menu-toggle {
  display: none; /* Hidden by default */
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}


.navbar-list {
  display: flex; /* Default for desktop */
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  font-size: 22px;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  color: rgb(145, 139, 139);
  text-decoration: none;
  padding: 10px 20px;
}

/* Apply the orange color only to the text when hovered */
.navbar-link:hover {
  color: orange; /* Change text color to orange */
  transition: color 0.3s ease; /* Smooth transition for the text color */
}

/* Grey separator line between header and navbar */
header {
  border-bottom: 2px solid #ccc; /* Grey line separating header and navbar */
}

